{%extends "layout.html"%}

{%block main%}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Flask Blog Project</h1>
            <span class="subheading">Blog Project by Taha Ali and Ali Hussain!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if post1.show %}
        <div class="post-preview">
          <a href="/post/{{ post1.postid }}">
            <h2 class="post-title">
              {{ post1.heading }}
            </h2>
            <h3 class="post-subtitle">
              {{ post1.subheading }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post1.author }}</a>
            on {{ post1.date }}</p>
        </div>
        <hr>
        {% endif %}
        {% if post2.show %}
        <div class="post-preview">
          <a href="/post/{{ post2.postid }}">
            <h2 class="post-title">
              {{ post2.heading }}
            </h2>
            <h3 class="post-subtitle">
              {{ post2.subheading }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post2.author }}</a>
            on {{ post2.date }}</p>
        </div>
        <hr>
        {% endif %}
        {% if post3.show %}
        <div class="post-preview">
          <a href="/post/{{ post3.postid }}">
            <h2 class="post-title">
              {{ post3.heading }}
            </h2>
            <h3 class="post-subtitle">
              {{ post3.subheading }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post3.author }}</a>
            on {{ post3.date }}</p>
        </div>
        <hr>
        {% endif %}
        {% if post4.show %}
        <div class="post-preview">
          <a href="/post/{{ post4.postid }}">
            <h2 class="post-title">
              {{ post4.heading }}
            </h2>
            <h3 class="post-subtitle">
              {{ post4.subheading }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post4.author }}</a>
            on {{ post4.date }}</p>
        </div>
        <hr>
        {% endif %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#" hidden="true">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
{%endblock%}